.cakes {
  min-height: 684px;
  background: url(../img/tastycakes-img.png) no-repeat center/cover;

  &__content {
    display: flex;

    @media (max-width: 768px) {
      flex-direction: column;
    }

    &-title {
      margin-top: 68px;
      color: #ccaf8a;
      font-size: 230px;
      // line-height: 180px;

      @media (max-width: 1024px) {
        font-size: 170px;
      }

      @media (max-width: 486px) {
        font-size: 130px;
      }

      @media (max-width: 386px) {
        font-size: 100px;
      }
    }

    img {
      margin: 34px 100px 0 0;
      width: 195px;
      height: 198px;
    }
  }
}
